div.topbar
  div.fill
    div.container
      a.brand(href='#') #{title}
      ul.nav
        li.active
          a(href='#') Home
        li
          a(href='#about') About
        li
          a(href='#contact') Contact
      form.pull-right(method="post", id="loginForm")
        input.input-small(type="text", name="User", placeholder="username")
        input.input-small(type="password", name="Password", placeholder="password")
        input.btn.primary(type="submit", value="Sign In")

div.container
  div.content
    div.page-header
      h1 Main Page 
        small Welcome to #{title}
    div.row
      div.span10
        h2 Page Content
      div.span4
        h3 Secondary Content
        
  div.footer 
    p &copy; nodeblox 2011
