div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='#') #{title}
      div.nav-collapse
        ul.nav
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
        ul.pull-right
          li
            p#logininfo.login-prompt
        a#signup-btn.btn.pull-right.top-bar-form-button(href='#signup-modal', data-toggle="modal") Sign Up
        form.pull-right.form-horizontal.top-bar-form(method="post", id="loginForm")
          input.input-small.top-bar-form-textbox(id="username", type="text", name="User", placeholder="Username")
          input.input-small.top-bar-form-textbox(id="password", type="password", name="Password", placeholder="Password")
          button.btn.btn-primary.top-bar-form-button(type="submit", value="Sign In") Sign In

div.container
  div.content
    div.page-header
      h1 Main Page 
        small Welcome to #{title}
    div.row-fluid
      div.span9
        div.hero-unit
          h2 Page Content
          p Primary content of the blog goes here
          div#signup-modal.modal.hide
            div.modal-header
              a.close(href='#', data-dismiss="modal") x
              h3 Sign Up Form
            div.modal-body
              div.row-fluid
                div.span6
                  label Login
                  form.well(method="post", id="loginForm")
                    input.input-small(id="username", type="text", name="User", placeholder="Username")
                    input.input-small(id="password", type="password", name="Password", placeholder="Password")
                    button.btn.btn-primary(type="submit", value="Sign In") Sign In
                div.span6
                  label Sign Up
            div.modal-footer
              a.btn.primary(href='#', data-dismiss="modal") Primary
              a.btn.secondary(href='#', data-dismiss="modal") Secondary
          div#signup-error-modal.modal.hide
            div.modal-header
              a.close(href='#', data-dismiss="modal") x
            div.modal-body
              div.alert.alert-error
                strong Oh snap !
                  p Incorrect Login Credentials... Please Try Again... 
            div.modal-footer
      div.span3
        div.well.sidebar-nav
          h3 Secondary Content
        
  div.footer 
    p &copy; nodeblox 2011
