!!!
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    
    script(src='/lib/jquery/jquery-1.7.1.js')
    script(src='/lib/bootstrap/bootstrap-modal.js')
    script(src='/js/login.js');

  body!= body

