!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    
    script(src='/js/lib/jquery/jquery-1.7.1.js')
    script(src='/js/login.js');

  body!= body

