!!!
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')

  body!= body

script(src='/lib/jquery/jquery-1.7.1.min.js')
script(src='/js/login.js');
