!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    
    script(type='text/javascript', src='/js/lib/jquery/jquery-1.7.1.js')
    script(type='text/javascript', src='/js/lib/bootstrap/bootstrap-modal.js')
    script(type='text/javascript', src='/js/index.js');

  body!= body

