div#postListDiv
div#allPostsDiv(data-bind="template: {name:'allPostsList', foreach:postsList}")


script(type='text/html', id="allPostsList")
  div.well
    h1(data-bind="text: subject")
    small Posted on - <span data-bind="text : date"></span> 
    br
    span -------------------------------------------------------------------------------------------------------------------
    br
    br
    div(id="showPostContent")
      div(data-bind="html: content")
    br
