div#postListDiv
div#allPostsDiv(data-bind="template: {name:'allQuesList', foreach:quesList}")


//- template for showing a single question
script(type='text/html', id="allQuesList")
  div.well
    h1(data-bind="text: question")
    p(style="margin-left:20px") Asked by ::: <span data-bind="text:username"></span>
    br
    div(id="showPostContent", data-bind="template : {name: 'allAnsList', foreach:answers}")
    br
    a.btn.btn-primary(data-bind="attr: {href : '#', qId : qId}", data-bind="click : answerThis") Answer
    input.input-xlarge(type="text", style="margin-top:6px; margin-left:20px;", data-bind="attr : {id : 'inp'+qId}")
    span(style="margin-left:10px;visibility:hidden;", data-bind="attr: {id: 'warn'+qId}")

//- template for showing all the answers
script(type='text/html', id="allAnsList")
  div
    p ------------------------------------------------------------------------------
    p(data-bind="text: answer")
    p(style="margin-left:20px") Answered by --> <span data-bind="text:username"></span>

//
  -if(allPosts.length > 0){
    -each post in allPosts
      include postDisplay
    br
  -}else{
    h3 No posts till now..
  -}

