div#signup-modal.modal(style="display:none;")
  div.modal-header
    a.close(href='#', data-dismiss="modal") x
    h3 Sign Up Form
  div.modal-body
    div.row-fluid
      div.span9
        form.form-horizontal(method="post", id="signup-form")
          div.control-group
            label.control-label(for="signupUser") User Name :
            div.controls
              input.input-small(type="text", id="signupUser")
          div.control-group
            label.control-label(for="signupEmail") Email :
            div.controls
              input.input-small(type="text", id="signupEmail")
          div.control-group
            label.control-label(for="passwordFirst") Password :
            div.controls
              input.input-small(type="password", id="passwordFirst")
          div.control-group
            label.control-label(for="password") Password(Once More) :
            div.controls
              input.input-small(type="password", id="passwordSecond")

  div.modal-footer
    a#signupCancel.btn.btn-danger(href='#', data-dismiss="modal") Cancel
    a#signupConfirm.btn.btn-primary(href='#', data-dismiss="modal") Sign Up

