div#signup-error-modal.modal.hide
  div.modal-header
    a.close(href='#', data-dismiss="modal") x
  div.modal-body
    div.alert.alert-error
      strong Oh snap !
        p Incorrect Login Credentials... Please Try Again... 
  div.modal-footer
